.button {
  display: none;

  margin: 0 auto;
  padding: 10px;

  border: none;
  border-radius: 10px;
  background-color: #fb580d;

  color: #ffffff;
  text-transform: uppercase;


  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }

  &:active {
    opacity: 0.6;
  }
}

.show {
  display: block;
}
