.message
  display flex
  justify-content space-around
  width (size * 3)
  margin 0 auto
  margin-bottom 40px
  font-size 24px
  font-weight 600

  &__player
    width 20px

    &--cross
      color color_blue

    &--circle
      color color_green

    &--hide
      display none