.restart-btn
  margin 0 auto
  padding 10px
  font-size: 20px
  border none
  border-radius 10px
  background-color color_orange
  color #ffffff

  &:hover
    opacity 0.8
    cursor pointer

  &:active
    opacity 0.6

  &--hide
    opacity 0
    pointer-events none
    cursor default
