@import "./const.styl"

html, body
  margin 0
  height 100%

body
  font-family Arial, sans-serif
  font-size 18px
  line-height 20px
  background-color color_dirtpink

main
  min-height: 100vh
  display flex
  flex-direction column
  align-items center
  justify-content center

@import "./blocks/restart-btn/restart-btn.styl"
@import "./blocks/message/message.styl"
@import "./blocks/grid/grid.styl"
  
